@{
    ViewBag.Title = "Trainees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Application.Models
@model List<Application.Models.Training>


<div>
    <table border="2" style="width:70%; margin-left:15%; margin-top:5%;">
        <tr class="text-center">
                <td><strong>ID</strong></td>
                <td><strong>UserId</strong></td>
                <td><strong>UserName</strong></td>
                <td><strong>CourseId</strong></td>
                <td><strong>CourseName</strong></td>
                <td><strong>Fee Status</strong></td>
                <td><strong>Toggle Fee Status</strong></td>
                <td><strong>Remove Row</strong></td>
        </tr>
        @foreach (var i in Model)
        {
            <tr class="text-center">
                <td>@i.Id</td>
                <td>@i.UserId</td>
                <td>@i.UserName</td>
                <td>@i.CourseId</td>
                <td>@i.CourseName</td>
                <td>@i.Fee_Status</td>
                <td><a href="/Training/EditTraining/@(i.Id)">Toggle</a></td>
                <td><a href="/Training/RemoveTraining/@(i.Id)">Remove</a></td>
            </tr>
        }
    </table>
</div>